@charset "UTF-8";

p#text-footer {
    text-align: center;
    text-indent: 0px;
    padding-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}

div#interface {
    background-color: #FFFDF0;
    padding-bottom: 15px;
}

div#nome-plataforma {
    margin-top: -20px;
}

nav#main-nav {
    background-color: #FFDE2F; 
    padding-bottom: 10px;
}

